body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gb-1 {
  background-color: aqua;
}

.gb-2 {
  background-color: violet;
}

.gb-3 {
  background-color: salmon;
}

.gb-4 {
  background-color: darkcyan;
}

.gb-5 {
  background-color: seagreen;
}

/* better name */
.top {
  min-height: 100vh;
  display: flex;
  background-color: #222629;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #222629;
  max-width: 1080px;
  min-height: 630px;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 48px 5px rgba(189, 189, 189, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 48px 5px rgba(189, 189, 189, 0);
    z-index: 100;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: #2b2e31;
}

/* info classes */
.info {
  flex-grow: 3;
  flex-basis: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.info-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-logo-min {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 15px;
  font-size: large;
  color: white;
}

/* chat classes */
.chat {
  flex-grow: 2;
  flex-basis: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 400px;
  
}

.chat-inner {
  margin: 15px;
  border-radius: 8px;
  min-height: 300px;
  max-height: 100%;
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  /* background: rgb(71, 75, 79); */
  background: linear-gradient(
    180deg,
    rgba(71, 75, 79, 1) 0%,
    rgba(71, 75, 79, 1) 100%
  );

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 48px 5px rgba(189, 189, 189, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 48px 5px rgba(189, 189, 189, 0);
}

.chat-feed {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.chat-loading {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(71, 75, 79, 1) 0%,
    rgba(71, 75, 79, 1) 100%
  );
  color: #10a9eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-bell-chat__chat-panel{
  overflow: unset !important;
}

.chat-feed-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  /* min-height: 100%; */
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-input {
  height: 70px;
  /* overflow: hidden; */
  border-radius: 8px;
  margin: 20px 8px 10px 8px;
}

.chat-message-input {
  width: 99%;
  border-radius: 8px;
  height: 100%;
  resize: none;
}

.chat-message-input:focus {
  outline: 1px solid #0aa3e4;

}

.chat-message-input-disabled {
  background-color: #aaa;
}

textarea {
  resize: none;
  border: none;
}

/* textarea:focus{
  outline: none;
} */

/* bubble */

.bubble-user-text {
}

.bubble-user-bubble {
  background-color: #3ebff7;
  /* -webkit-box-shadow: 0px 10px 13px -7px #00000042, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #0000005b, 5px 5px 15px 5px rgba(0,0,0,0); */

  -webkit-box-shadow: 5px 5px 5px 0px #00000065, inset 4px 4px 15px 0px #00aeff88, 5px 5px 15px 5px rgba(255,255,255,0); 
  box-shadow: 5px 5px 5px 0px #00000057, inset 4px 4px 15px 0px #00aeff88, 5px 5px 15px 5px rgba(255,255,255,0);
}

.bubble-recipient-text {
}

.bubble-recipient-bubble {
  background-color: #dbdbdb;
  -webkit-box-shadow: 5px 5px 5px 0px #00000065, inset 4px 4px 15px 0px #ffffff, 5px 5px 15px 5px rgba(255,255,255,0); 
  box-shadow: 5px 5px 5px 0px #00000057, inset 4px 4px 15px 0px #ffffff, 5px 5px 15px 5px rgba(255,255,255,0);
}
